# --- Project files

# Deployment
settings.py
deploy.conf
dev-ops/conf

# Documentation
docs/er-diagrams

# Django
*.sqlite3

# --- Python files

# compiled source
*.pyc

# setuptools
dist/*
.eggs/*
*.egg-info

# testing
.cache
.coverage
.coverage.*
.pytest_cache

# --- Miscellaneous

# autoenv
.env

# vim
.*.swp

# macOS
.DS_Store*
